<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.health.anytime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 Required only when requesting background location access on
      Android 10 (API level 29).
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ha_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ha_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MedicineDetails" />
        <activity android:name=".CreateMedicine" />
        <activity android:name=".Pharmacy" />
        <activity android:name=".SignUp" />
        <activity android:name=".Profile_Patient" />
        <activity android:name=".ViewPatient" />
        <activity android:name=".ChatHome" />
        <activity android:name=".AddPatient" />
        <activity android:name=".User_home" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.health.anytime.DoctorHome" >

        </activity>

        <activity android:name="com.health.anytime.AddMedicinePage" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.health.anytime.Settings"/>
        <activity android:name="com.health.anytime.SetLock" android:screenOrientation="portrait" />
        <activity android:name="com.health.anytime.ConfirmLock" android:screenOrientation="portrait"/>
        <activity android:name="com.health.anytime.HomeLock" android:screenOrientation="portrait"/>
        <activity android:name="com.health.anytime.ForgetPassword" />
        <activity android:name="com.health.anytime.DeleteAccount"/>
        <activity android:name="com.health.anytime.ChangePassword"/>
        <activity android:name="com.health.anytime.ChangeEmail" />
        <activity android:name="com.health.anytime.MedicineList">

        </activity>

        <activity android:name="com.health.anytime.PatientList"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <receiver android:name="com.health.anytime.NotificationReceiver"/>

    </application>

</manifest>